# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
*.iml
*.iws
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/modules.xml

# Eclipse
.project
.classpath
.settings/
bin/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary files
tmp/
*.tmp

# Spring Boot specific
*.war
*.jar

# Application config
.env
*.env

# Exclude the build directories
out/
build/
